{% extends 'layouts/general-layout.html' %}

{% block title %} Inicio {% endblock title %}

{% block content %} 

<div class= "flex flex-col justify-center items-center gap-6 mt-8 lg:mt-0 mb-8 lg:mb-0 min-h-[calc(100dvh-56px-56px)]">

   <div class="flex flex-col justify-center items-center gap-1">
    <h2 class="font-extrabold text-sm md:text-base lg:text-4xl hover:text-green-500 transition duration-200 ease-in-out"> Bienvenido a nuestro Blog de Noticias </h2>
    <p class="text-sm text-gray-500"> Mantenete informado sobre las ultimas novedades de la provincia del Chaco. </p>
   </div>

    <div class="w-[300px] p-[10px] flex border border-gray-300 rounded-md">
      <input type="text" placeholder="Buscar" class="w-full h-full focus:outline-none">
      🔎
    </div>


    <section class="max-w-6xl flex flex-col justify-center items-center lg:flex-row gap-6">
      <article class="flex flex-col gap-1 p-7 border border-gray-400 rounded-md">
        <img src="https://www.ngfederal.ar/multimedia/imagenes/fotos/2025-12-11/503232_grande.jpg" alt="noticia" class="h-[280px] w-[500px] rounded-md">
        <div class="w-[90px] bg-blue-500 p-1 flex items-center justify-center rounded-md text-white">
        <span> Provinciales </span>
        </div>
        <strong class="font-bold text-2xl"> Un tren de cargas descarriló y obstruyó la vía en la provincia del Chaco </strong>
        <div class="flex flex-col text-sm text-gray-600 gap-2">
        <span> 11 de diciembre de 2025 </span>
        <p> Un tren de cargas que transportaba productos agrícolas descarriló en la provincia del Chaco, causando interrupciones en el tráfico ferroviario y daños a la infraestructura. Las autoridades están investigando las causas del accidente y trabajando para restablecer el servicio lo antes posible. Afortunadamente, no se reportaron heridos. </p>
        </div>
      </article>
      <article class="flex flex-col gap-1 p-7 border border-gray-400 rounded-md">
        <img src="https://www.ngfederal.ar/multimedia/imagenes/fotos/2025-12-11/503232_grande.jpg" alt="noticia" class="h-[280px] w-[500px] rounded-md">
        <div class="w-[90px] bg-blue-500 p-1 flex items-center justify-center rounded-md text-white">
        <span> Provinciales </span>
        </div>
        <strong class="font-bold text-2xl"> Un tren de cargas descarriló y obstruyó la vía en la provincia del Chaco </strong>
        <div class="flex flex-col text-sm text-gray-600 gap-2">
        <span> 11 de diciembre de 2025 </span>
        <p> Un tren de cargas que transportaba productos agrícolas descarriló en la provincia del Chaco, causando interrupciones en el tráfico ferroviario y daños a la infraestructura. Las autoridades están investigando las causas del accidente y trabajando para restablecer el servicio lo antes posible. Afortunadamente, no se reportaron heridos. </p>
        </div>
      </article>
      
    </section>
       
  </div>

  <section class="max-w-6xl flex flex-col justify-center items-center min-h-screen p-3 gap-6" >    
    <h2 class="text-4xl font-bold"> Noticias Recientes </h2>
   <article class="w-full min-h-[220px] flex flex-col lg:flex-row bg-green-200 p-3 border border-gray-400 rounded-md">
    <div class="min-w-[261px] h-[200px] flex justify-center items-center">
      <img src="https://www.diariotag.com/content/bucket/4/299034w440h250c.png.webp"
      alt="noticia"
      class="w-full h-full object-cover rounded-md"
      >
      </div>
     <div class="h-full flex flex-col justify-center overflow-hidden overflow-y-auto">
       <p class="text-lg font-bold">Apuñalaron a una trabajadora sexual: un hombre de 50 años esta detenido </p>
        <span class="text-sm text-gray-600"> 14 de diciembre de 2025 </span>
       <div class="w-[90px] bg-blue-500 p-1 flex items-center justify-center rounded-md text-white">
       <span> Policiales </span>
       </div>
      </div>
    </article>
   <article class="w-full min-h-[220px] flex flex-col lg:flex-row bg-green-200 p-3 border border-gray-400 rounded-md">
    <div class="min-w-[261px] h-[200px] flex justify-center items-center">
      <img src="https://www.diariotag.com/content/bucket/4/299034w440h250c.png.webp"
      alt="noticia"
      class="w-full h-full object-cover rounded-md"
      >
      </div>
     <div class="h-full flex flex-col justify-center overflow-hidden overflow-y-auto">
       <p class="text-lg font-bold">Apuñalaron a una trabajadora sexual: un hombre de 50 años esta detenido </p>
        <span class="text-sm text-gray-600"> 14 de diciembre de 2025 </span>
       <div class="w-[90px] bg-blue-500 p-1 flex items-center justify-center rounded-md text-white">
       <span> Policiales </span>
       </div>
      </div>
    </article>
   <article class="w-full min-h-[220px] flex flex-col lg:flex-row bg-green-200 p-3 border border-gray-400 rounded-md">
    <div class="min-w-[261px] h-[200px] flex justify-center items-center">
      <img src="https://www.diariotag.com/content/bucket/4/299034w440h250c.png.webp"
      alt="noticia"
      class="w-full h-full object-cover rounded-md"
      >
      </div>
     <div class="h-full flex flex-col justify-center overflow-hidden overflow-y-auto">
       <p class="text-lg font-bold">Apuñalaron a una trabajadora sexual: un hombre de 50 años esta detenido </p>
        <span class="text-sm text-gray-600"> 14 de diciembre de 2025 </span>
       <div class="w-[90px] bg-blue-500 p-1 flex items-center justify-center rounded-md text-white">
       <span> Policiales </span>
       </div>
      </div>
    </article>

    
  </section>  

{% endblock content %}