{% extends "base.html" %}

{% block content %}
<section class="container mt-5">

    <h1 class="mb-4">Blog</h1>

    {% if posts %}
        <div class="list-group">
            {% for post in posts %}
                <a href="{% url 'post:detail' post.pk %}" class="list-group-item list-group-item-action">
                    <h5 class="mb-1">{{ post.title }}</h5>
                    <small>{{ post.created_at|date:"d M Y" }}</small>
                </a>
            {% endfor %}
        </div>
    {% else %}
        <div class="text-center p-5 border rounded">
            <h3>Aún no hay posts</h3>
            <p>Comenzá creando el primero</p>

            <a href="{% url 'post:create' %}" class="btn btn-primary mt-3">
                Crear primer post
            </a>
        </div>
    {% endif %}

</section>
{% endblock %}
