<nav class="w-full flex justify-between items-center">
  <h1 class="font-extrabold text-sm md:text-base lg:text-2xl"> Blog | <span class="text-green-800">Noticias</span> </h1>
  <ul class="flex gap-3 md:gap-8 lg:gap-12">
      <li class="hover:text-green-600 duration-150 ease-in-out"><a href="{% url 'home' %}">Inicio</a></li>
      <li class="hover:text-green-600 duration-150 ease-in-out"><a href="{% url 'post:post-list' %}">Ver Posts</a></li>
      <li class="hover:text-green-600 duration-150 ease-in-out"><a href="{% url 'user:user-profile' %}">Perfil</a></li>
  </ul>
</nav>
